# Salesforce Metadata XML Files (prevents "No parser could be inferred" errors)
**/*.xml

# Salesforce DX build & cache folders
.sf/
.sfdx/
.localdevserver/

# Test coverage reports & node dependencies
coverage/
node_modules/

# LWC generated configurations
**/jsconfig.json

# Git & IDE folders
.git/
.vscode/

# Static Resources or external libraries
force-app/main/default/staticresources/
